@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap");

.container {
	text-align: center;
	background-color: #d1411e;
	transition: 1s;
	font-family: "Smooch Sans", sans-serif;
	font-size: 12px;
}

.container:hover {
	background-color: salmon;
}
